*{
    padding: 0;
    margin: 0;
}

#cuerpo {
    background: white;
    color: black;
    font-family: 'Nunito',sans-serif;
    font-size: 12px;
}

body{
    background: white;
    color: black;
    font-family: 'Nunito',sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #8C543F;
}

ul{
    list-style: none;
}

hr{
    width: 100%;
    border: solid 2px #8C543F;
}

/* header */
.cabeza {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
}

.carrito{
    height: 50px;
    width: 50px;
}

.carrito:hover {
    transform: scale(1.3,1.3);
}

.cabeza .logo{
    height: 100px;
    width: 100px;
}

.cabeza input{
    height: 20px;
    width: 175px;
    border: solid 1px #8C543F;
    margin: auto 0px;
}

.icono-buscar{
    height: 35px;
    width: 35px;
}

.icono-buscar:hover{
    transform: translateX(-1px);
    transition: transform 0.1s linear;
}

.logo {
    margin: 0 auto;
    margin-right: 650px;
}

.logo:hover {
    transform: scale(1.5,1.5);
    transition: transform 0.3s linear;
}

/* nav */
.navegar{
    background-color: #DBD2CD;
    font-family:'Nunito',sans-serif;
}

.navegar ul{
    display: flex;
    justify-content: space-between;
    width:  60%;
    margin: 5px auto;
    font-size: 18px;
    padding: 0;
}

.navegar ul li:hover{
    transform: scale(1.2,1.2);
}

.navegar ul li a {
    text-decoration: none;
    color: #8C543F;  
}

/* Inicio */
.bienvenido{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.bienvenido-texto{
    flex: 1;
    font-family:'Playfair Display', serif;
    padding-left: 30px;
    padding-top: 90px;
}

.bienvenido img{
    width: 400px;
    height: 400px;
}

.bienvenido-texto h1{
    color: #8C543F;
    font-family:'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.bienvenido-texto button{
    color: #8C543F;
    padding: 3px 10px;
    border: solid 1px #8C543F;
    font-size: 15px;
    margin-top: 30px;
}

.bienvenido-texto button:hover{
    transform: scale(1.1,1.2);
    opacity: .9;
    background-color: #DBD2CD;
    color: black;
}

/* Productos Destacados Inicio */
.destacados{
    background-color: #DBD2CD;
    margin: 70px 0;
}

.titulo-destacados{
    margin: 10px 0;
    text-align: center;
    padding-top: 10px;
    font-family:'Playfair Display', serif;
    color: #8C543F;
    font-size: 20px;
}

.destacados-contenido{
    padding-bottom: 10px;
    font-family:'Playfair Display', serif;
    font-size: 12px;
}

.destacados h3{
    color: #8C543F;
    font-family:'Nunito',sans-serif;
    margin-top: 10px;
}

.destacados-contenido img{
    width: 175px;
    height: 175px;
}

.destacados button{
    margin-top: 10px;
    color: #8C543F;
    padding: 2px;
}

.destacados-tarjetas:hover{
    transform: scale(1.03,1.03);
}

.destacados-tarjetas{
    text-align: center;
}

.destacados-tarjetas p{
    padding: 0px 40px;
}

button:hover{
    transform: scale(1.15,1.15);
    opacity: .9;
    color: black;
    transition: transform 0.1s linear;
}


/* Informacion Inicio */
.info{
    padding-bottom: 10px;
}

.info img{
    width: 150px;
    height: 150px;
}

.info img:hover{
    transform: translateX(4px);
    transition: trasnform 1s ease-in-out;
}

.info h2{
    color: #8C543F;
    font-family:'Nunito',sans-serif;
}

.info-tarjetas {
    text-align: center;
}

/* Tienda */
.tienda{
    display: flex;
    background: url('../Imagenes/Fondo\ Tienda.jpeg') no-repeat center/cover;
    height: 300px;
    margin: 50px 0;
}

.tienda-texto{
    font-family:'Playfair Display', serif;
    height: 20%;
    background-color: #DBD2CD; opacity: 50%;
    margin: 60px 0;
    margin-left: 20px;
    font-size: 15px;
}

.tienda-texto h1{
    color: #8C543F;
    font-family:'Playfair Display', serif;
    font-size: 50px;
}

/* Productos */
.productos h3{
    font-family:'Nunito',sans-serif;
    color: #8C543F;
    margin-top: 10px;
}

.productos p{
    font-family:'Playfair Display', serif;
}

.productos button{
    margin-top: 10px;
    color: #8C543F;
}

.productos img{
    width: 175px;
    height: 175px;
}

.productos-uno{
    margin-bottom: 50px;
}

.productos-uno button{
    margin-bottom: 5px;
}

.productos-dos{
    padding-bottom: 10px;
}

.productos-dos button{
    margin-bottom: 5px;
}

/* Eventos */
.eventos{
    display: flex;
    background: url('../Imagenes/Fondo\ Eventos.jpeg') no-repeat center/cover;
    height: 600px;
    margin: 25px 0;
}

.eventos-texto{
    font-family:'Playfair Display', serif;
    height: 20%;
    background-color: #DBD2CD; opacity: 50%;
    margin: 300px 0;
    margin-left: 850px;
    font-size: 15px;
    width: 40%;
}

.eventos-texto h1{
    color: #8C543F;
    font-family:'Playfair Display', serif;
    font-size: 50px;
}

.eventos-feria{
    display: flex;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.eventos-feria img{
    width: 300px;
    height: 400px;
    border: solid 2px #8C543F;
}

.eventos-feria p{
    margin-top: 20px;
    font-family:'Playfair Display', serif; 
    font-size: 15px;
    padding: 0px 80px;
}

.eventos-feria h3{
    font-family:'Playfair Display', serif;
    color: #8C543F;
    font-size: 30px;
}

/* Proximos Eventos */
.proximos-eventos{
    width: 50%;
    margin: 30px auto;
}

.proximos-eventos-texto{
    width: 60%;
    margin: 20px 280px ;
    font-family:'Playfair Display', serif; 
    font-size: 15px;
}

.proximos-eventos-texto input{
    margin: 20px 0;
}

.proximos-eventos-texto button{
    margin-left: 60px;
    font-size: 15px;
    color: #8C543F;
}

.proximos-eventos h2{
    font-family:'Playfair Display', serif;
    color: #8C543F;
    font-size: 50px;
}

.fotos-eventos{
    display: flex;
    margin-top: 100px;
}

.fotos-eventos img{
    width: 100%;
    height: 320px;
}

/* Nosotros */
.nosotros{
    display: flex;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.nosotros-texto{
    flex: 1;
    font-family:'Playfair Display', serif;
    padding-left: 30px;
    padding-top: 100px;
    font-size: 15px;
    width: 50%;
}

.nosotros img{
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 30px;
}

.nosotros-texto h1{
    color: #8C543F;
    font-family:'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 30px;
}

/* El equipo */
.equipo-titulo{
    background-color: #DBD2CD;
    text-align: center;
    margin: 50px 0;
    padding: 50px 0;
    font-family:'Playfair Display', serif;
    color: #8C543F;
    font-size: 30px;
}

.equipo-info img{
    width: 200px;
    height: 200px;
}

.laila{
    display: flex;
    width: 60%;
    margin: auto;
}

.laila h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #8C543F;
    font-family:'Nunito',sans-serif;
}

.laila-texto{
    margin-left: 25px;
    font-family:'Playfair Display', serif;
    font-size: 15px;
}

.laila p{
    background-color: #DBD2CD;
}

.laila img {
    height: 200px;
    width: 200px;
}

.mechi{
    display: flex;
    width: 60%;
    margin-left: 425px;
}

.mechi h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #8C543F;
    font-family:'Nunito',sans-serif;
    text-align: right;
    margin-right: 30px;
}

.mechi p{
    background-color: #DBD2CD;
    margin-right: 30px;
    font-family:'Playfair Display', serif;
    font-size: 15px;
}

.mechi img {
    height: 200px;
    width: 200px;
}

/* Contacto */
.contacto{
    display: flex;
    margin-top: 50px;
}

.contacto img{
    width: 500px;
    height: 500px;
    margin: 30px 0;
    margin-left: 90px;
}

.contacto-form h1{
    color: #8C543F;
    font-family:'Playfair Display', serif;
    font-size: 50px;
}

.contacto-form{
margin-left: 50px;
padding-top: 100px;
}

.contacto-form form{
    padding-left: 80px;
}

.contacto form p{
    margin-top: 20px;
}

.boton-enviar{
    display: block;
    margin-top: 20px;
    color: #8C543F;
}

.contacto-ayuda{
    display: flex;
    font-family:'Playfair Display', serif;
    text-align: center;
}

.contacto-ayuda img{
    width: 400px;
    height: 300px;
}

.texto-ayuda{
    font-family:'Playfair Display', serif;
    font-size: 15px;
    margin-top: 30px;
}

.texto-ayuda h2{
    margin-bottom: 40px;
    color: #8C543F;
    font-family:'Playfair Display', serif;
}

/* Footer */
.pie{
    display: flex;
    background-color: #DBD2CD;
    margin-top: 50px;
}

.pie-iconos {
    font-family:'Nunito',sans-serif;
    color: #8C543F;
    text-align: center;
}

.pie-iconos h2{
    margin-top: 10px;
}

.pie-iconos img{
    width: 30px;
    height: 30px;
}

.pie-iconos img:hover{
    transform: translateY(3px);
}

.pie-logo {
    text-align: center;
}

.pie-logo img{
    width: 150px;
    height: 150px;
}

.pie-contacto{
    padding-top: 7px;
    font-family:'Nunito',sans-serif;
}

.pie-politicas{
    padding-top: 7px;
    font-family:'Nunito',sans-serif;
}

.pie-contacto a{
    text-decoration: none;
    color:#8C543F ;
}

.pie-contacto a:hover {
    text-decoration: underline;
}

.pie-politicas a{
    text-decoration: none;
    color:#8C543F ;
}

.pie-politicas a:hover {
    text-decoration: underline;
}

/* media */

@media (max-width: 768px){
    .logo {
        margin: 0 auto;
        margin-right: 30px;
    }

    .navegar ul{
        width:  100%;
        font-size: 14px;
    }

    .cabeza input{
        width: 80px;
    }

/* bienvenido */
    .bienvenido{
        width: 100%;
        margin-top: 20px;
    }
    .bienvenido-texto{
        font-family:'Playfair Display', serif;
        padding: 0 ;
    }
    
    .bienvenido img{
        width: 100%;
        height: 320px;
    }
    
    .bienvenido-texto h1{
        color: #8C543F;
        font-family:'Playfair Display', serif;
        font-size: 38px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .bienvenido-texto button{
        color: #8C543F;
        padding: 3px 10px;
        border: solid 1px #8C543F;
        font-size: 15px;
        margin-top: 15px;
    }

/* evento */

    .eventos{
        display: flex;
        height: 280px;
        margin: 25px 0;
    }
    
    .eventos-texto{
    display: none;
    }
    
    /* Proximos Eventos */
    .proximos-eventos{
        width: 80%;
        margin: auto;
    }
    
    .proximos-eventos-texto{
        width: 100%;
        margin: 20px ;
    }
    
    .proximos-eventos h2{
        font-size: 35px;
    }
    
    .fotos-eventos img{
        width: 320px;
        height: 320px;
        margin: 5px 0;
    }

/* Nosotros */
    .nosotros{
        margin-top: 30px;
    }

    .nosotros-texto{
        font-family:'Playfair Display', serif;
        padding-left: 0px;
        padding-top: 0px;
        font-size: 15px;
        width: 100%;
    }

    .nosotros img{
        width: 320px;
        height: 320px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .nosotros-texto h1{
        color: #8C543F;
        font-family:'Playfair Display', serif;
        font-size: 35px;
        margin-bottom: 20px;
    }

    /* El equipo */

    .equipo-info img{
        width: 100px;
        height: 100px;
    }

    .laila{
        display: flex;
        width: 100%;
        margin: auto;
    }

    .laila h3{
        margin-bottom: 20px;
        font-size: 20px;
    }

    .laila-texto{
        margin-left: 10px;
        font-family:'Playfair Display', serif;
        font-size: 15px;
    }

    .laila img {
        height: 125px;
        width: 125px;
    }

    .mechi{
        width: 100%;
        margin-left: 0px;
    }

    .mechi h3{
        margin-right: 10px;
    }

    .mechi p{
        margin-right: 10px;
    }

    .mechi img {
        height: 125px;
        width: 125px;
    }

/* Contacto */
    .contacto{
        margin-top: 20px;
    }

    .contacto img{
        width: 320px;
        height: 320px;
        margin: 0px 0;
        margin-left: 0px;
    }

    .contacto-form h1{
        font-size: 35px;
    }

    .contacto-form{
    margin-left: 0px;
    padding-top: 0px;
    margin-top: 10px;
    }

    .contacto-form form{
        padding-left: 50px;
    }

    .contacto form p{
        margin-top: 15px;
    }

    .contacto-ayuda img{
        width: 320px;
        height: 300px;
    }

    .texto-ayuda h2{
        margin-bottom: 20px;
    }

}