.tienda{
    display: flex;
    background: url('../Imagenes/Fondo\ Tienda.jpeg') no-repeat center/cover;
    height: 300px;
    margin: 50px 0;
    .tienda-texto{
        font-family:'Playfair Display', serif;
        height: 20%;
        background-color: $bk-color2; opacity: 50%;
        margin: 60px 0;
        margin-left: 20px;
        font-size: 15px;
        h1{
            color: $color-titulos;
            font-family:'Playfair Display', serif;
            font-size: 50px;
        }
    }
}

/* Productos */
.productos{
    h3{
        font-family:'Nunito',sans-serif;
        color: $color-titulos;
        margin-top: 10px;
    }
    p{
        font-family:'Playfair Display', serif;
    }
    button{
        margin-top: 10px;
        color: $color-boton;
    }
    img{
        width: 175px;
        height: 175px;
    }
    .productos-uno{
        margin-bottom: 50px;
        text-align: center;
        button{
            margin-bottom: 5px;
        }
    }
    .productos-dos{
        padding-bottom: 10px;
        text-align: center;
        button{
            margin-bottom: 5px;
        }

    }
}